{% extends 'webapp/base.html'  %}
{% load static %}
{% block content %}

<div class="d-flex flex-column justify-content-center align-items-center" style="min-height: 90vh;">
<div class="mx-auto" style="width: 400px;">
    <div class="bg-light rounded shadow-sm p-3 text-center">
       
		<img src="{% static 'Resource/imgs/logo.png' %}" class="img-fluid mb-3" width="150" height="150">
        <h2 class="mb-3">Login</h2>

        {% if form.non_field_errors %}
            <div class="text-danger mb-3">
                {{ form.non_field_errors }}
            </div>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="mb-3 text-center">
                {{ field.label_tag }}<br>
                {{ field }}

                {% if field.errors %}
                    <div class="text-danger small">
                        {{ field.errors }}
                    </div>
                {% endif %}
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary rounded-pill py-2 px-4 mt-2 d-block mx-auto">Login</button>
            <p class="mt-3">New User? <a href="{% url 'register' %}">Register</a></p>
        </form>
    </div>
</div>
</div>
{% endblock %}
