{% extends 'webapp/base.html' %}
{% block content %}

<div class="container my-5">

    <h2 class="fw-bold mb-4">Order Summary</h2>

    <p class="text-muted">Review your items and confirm your order.</p>

    <hr>
    <h5 class="fw-semibold mt-4">Your Details</h5>
    <p>Name: {{ user.username }}</p>
    <p>Email: {{ user.email }}</p>
    <hr>

    <h5 class="fw-semibold mt-4">Basket Items</h5>

    <table class="table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Subtotal</th>
            </tr>
        </thead>

        <tbody>
            {% for item in basket_items %}
            <tr>
                <td>{{ item.product.name }}</td>
                <td>{{ item.product.price }} SAR</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.subtotal }} SAR</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h4 class="text-end fw-bold">Total: {{ total }} SAR</h4>

    <form method="post"  class="text-end">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Confirm Order</button>
    </form>


</div>


{% endblock %}
