{% extends 'webapp/base.html'  %}
{% block content %}

<div class="container  my-5">
<h3 class="text-center mb-4">Products</h3>
<div class="row justify-content-center">
<div class="col-lg-10 wow fadeInUp" data-wow-delay="0.5s">
<div class="bg-light rounded h-100 d-flex align-items-center p-5">
<table class="table table-striped">

<table class="table table-striped">
  <thead>
  <tr>
    <th>Image</th>
    <th>Name</th>
    <th>Price</th>
     <th></th>
   </tr>
    </thead>
    <tbody>
  {% for product in products %}
    <tr>
      <td>
        {% if product.image %}
        <img src="{{ product.image.url }}" alt="{{ product.name }}" width="130">
        {% else %}
          No Image
        {% endif %}
      </td>
     <td>{{ product.name }}</td>
     <td>{{ product.price }}</td>
     <td>
         <a href="{% url 'product_detail' product.pk %}" class="btn btn-primary rounded-pill py-2 px-4 mt-2">View</a>
         </td>
      </tr>
        {% endfor %}
    </tbody>
</table>

</div>
</div>
</div>
</div>


{% endblock %}
