{% extends 'webapp/base.html'  %}
{% block content %}
{% load static %}


<div class="container">
<div class="container-xxl py-5">
	<div class="container">
		<div class="row g-5">
			<div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
				<div class="d-flex flex-column">
					<img class="img-fluid rounded w-75 align-self-end" src="{% static 'Resource/imgs/logo.png' %}" alt="logo">

				</div>
			</div>
			<div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
				<h1 class="mb-4">Welcome to Our Website</h1>
				
       
			</div>
		</div>
	</div>
</div>
</div>

{% endblock %}